.hero-img{
    height: 100vh;
    max-width: 100%;
    /* background-image: url('../../../assets/soy_sauce.jpg'); */
    /* background-image: url('../../../assets/next_open.jpg'); */
    background-image: url('../../../assets/opening_image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 40%;
}

.hero-content p {
    font-size: 150%;
}

@media (max-width: 768px) {
    .hero-img {
        height: 70vh; /* Adjust height for smaller screens */
    }
    
    .hero-content {
        top: 30%;
        left: 5%;
        text-align: center; /* Center text for mobile */
    }

    .hero-content p {
        font-size: 1.2rem; /* Smaller font size for smaller screens */
    }
}