.hero-img{
    height: 100vh;
    max-width: 100%;
    background-image: url('../../../assets/soy_sauce.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 40%;
}

.hero-content p {
    font-size: 150%;
}