.about-info-content p{
    padding: 20px 0;
    font-size: 15px;
    color: black;
}

.about-info-content h4 {
    color: black;
    padding: 10px 0;
}

.about-info-content blockquote{
    color: var(--color-secondary);
    padding-left: 10px;
}

.accent {
    color: var(--color-primary)
}