.description-container {
    display: flex;
    gap: 5%;
}

.description-carousel{
    width: 65%;
    margin-bottom: 50px;
    object-fit: contain;
}

.description-carousel img {
    width: 100%;
    height: 80vh;
    border-radius: 5px;
}

.slick-prev:before,
.slick-next:before,
.slick-dots li.slick-active button:before {
    color: var(--color-primary) !important;
}

.description-content p{
    padding: 20px 0;
    font-size: 110%;
}

.desc-card-container{
    display: flex;
    gap: 5%;
    padding-top: 50px;
}

.desc-card {
    width: 30%;
}

.desc-card-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.desc-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.desc-card-content p{
    padding-top: 10px;
    color: #000;
}

@media screen and (max-width: 768px ) {
    .desc-container {
        flex-direction: column;
    }

    .desc-carousel {
        width: 100%;
        padding: 0 10px;
    }

    .desc-content {
        width: 100%
    }

    .desc-card-container{
        flex-direction: column;
    }

    .desc-card{
        width: 100%;
    }

    .desc-card-left{
        margin-bottom: 20px;
    }

    .desc-card-middle{
        margin-bottom: 20px;
    }
}