.chef-img{
    background-image: url('../../../assets/sushi_chef.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.chef-content{
    position: absolute;
    top: 10%;
    padding: 10px;
    background-color:var(--color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chef-content p{
    font-size: 15px;
}

.chef-info h4{
    text-transform: uppercase;
}

.chef-info p {
    padding-top: 10px; /* Existing padding */
    margin-bottom: 20px; /* Adds space between paragraphs */
    font-size: 15px;
    color: var(--color-black);
}

.grid-item {
    padding-bottom: 50px;
}

.owners-img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures image covers its container while maintaining aspect ratio */
    border-radius: 5px;
}

