  
  .menu-buttons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    /* margin-right: 150px;
    margin-left: 150px; */
    position: relative;
    z-index: 10;
  }
  
  .menu-buttons button {
    flex-basis: calc(100% / 7 - 20px);
    font-size: 1.1rem;
    padding: 10px 20px;
    color: rgb(84, 83, 83);
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-decoration: underline;
  }

  

  .menu-buttons button:hover {
    color: var(--color-primary)
  }
